# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual Environments
.venv/
venv/
env/

# Environment Variables
.env
.env.*

# -------------------------
# Node
# -------------------------
node_modules/
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/*
!uploads/.gitkeep

# Database
*.db
*.sqlite3

# Build
dist/
build/